services:
  - type: web
    name: project-dream-backend
    runtime: docker
    plan: free
    envVars:
      - key: YOUTUBE_API_KEY
        sync: false
      - key: PORT
        value: 3001
      - key: NODE_ENV
        value: production
